<template>
  <div>
    <h1>ハローでじぴよ</h1>
    <p>Body: {{ body }}</p>
    <p>DetaTime: {{ datetime }}</p>
    <button @click="getHome">更新ウェーーーーーーーーーい〜〜〜〜〜〜〜〜〜〜〜〜</button>
  </div>
</template>
<script>
import axios from 'axios';

export default {
  name: 'home',
  data() {
    return {
      body: '',
      datetime: null,
    };
  },
  methods: {
    async getHome() {
      const response = await axios.get('/api');
      this.body = response.data.body;
      this.datetime = response.data.time;
    },
  },
  created() {
    axios.defaults.baseURL = process.env.VUE_APP_API_BASE_URL;
  },
  mounted() {
    this.getHome();
  },
};
</script>
